.Home {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; 
  align-items: center; 
}

.Home-header {
  background-color: #00adb5;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  width: 100%; 
  padding-bottom: 0.5em;
}

.Home-header-desc {
  display: flex;
  align-items: left;
  flex-direction: column;
  max-width: 50%;
  padding: 1em;
}

.Home-header-desc p {
  text-align: justify;
  font-size: 1.8em; 
}

.Home-header h1 {
  font-size: 3.5em; 
  margin-bottom: 1em;
}

.Home-main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.Section-title {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 3em;
}

.Services {
  margin-top: 0.5em;
  text-align: justify;
}

.Service-desc {
  max-width: 50%;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: justify;
}

.Service-desc h3 {
  font-size: 2em;
}

.Service-desc p {
  font-size: 1.5em;
}

.Service-left {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Service-left h3 {
  margin-bottom: 1em;
}

.Service-right {
  margin-bottom: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Service-right h3 {
  margin-bottom: 1em;
}

.Service-img {
  height: 38em;
}

p strong {
  font-weight: bold;
  color: #f4ce14;
}

.About-Moodify {
  text-align: center;
  padding: 3%;
  background-color: #eeeeee;
  margin: 0;
}

.About-Moodify p {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .Home-header {
    flex-direction: column-reverse;
    padding: 0;
  }

  .Home-header-desc {
    max-width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1.0em;
    text-align: center;
  }

  .Home-header-desc p {
    font-size: 1.5em; 
    margin-bottom: 1.0em;
  }

  .Home-header h1 {
    font-size: 2.5em; 
  }

  .Service-desc {
    max-width: 100%;
    text-align: center;
  }

  .Service-left {
    flex-direction: column;
    align-items: center;
  }

  .Service-right {
    flex-direction: column-reverse;
    align-items: center;
  }

  .Service-left h3,
  .Service-right h3 {
    font-size: 2em; 
  }

  .Service-desc p,
  .About-Moodify p {
    font-size: 1.5em; 
  }

  .Service-img-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .Service-img {
    height: auto; 
    width: 50%; 
  }

  .Section-title {
    font-size: 3em; 
    text-align: center;
  }

  .Services {
    margin-top: 1em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    align-items: center;
  }

  .About-Moodify {
    padding-left: 2em;
    padding-right: 2em;
  }
}
