.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #00ADB5; 
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 25%;
  align-items: center;
}

.App-logo-link {
  text-decoration: none;
  color: white;
}

.App-logo {
  max-width: 250px;
  height: auto;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 10px;
}

.App-nav {
  display: flex;
  font-size: 1.5em;
  gap: 20px;
}

.App-link {
  text-decoration: none;
  color: white;
}

.App-link:hover {
  color: #f4ce14;
}

/* Mobile view */
.App-menu-toggle {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.App-menu-close {
  display: none;
  font-size: 1.0em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.App-main {
  flex: 1;
}


.App-footer {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: auto; 
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-footer-logos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.App-footer-logo {
  width: auto;
  height: 30px;
  margin: 0 10px;
}

.App-footer-text {
  margin-bottom: 0px;
}

.App-footer-copyright {
  font-size: 15px;
  color: #555;
}

.App-white-button {
  background-color: white;
  color: #555555;
  border: 1px solid #555555;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.App-white-button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .App-menu-toggle {
    display: block; /* Display menu toggle on smaller screens */
  }

  .App-menu-close {
    display: block; /* Display menu toggle on smaller screens */
  }

  .App-nav {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00ADB5;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 4.0em;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
  }

  .App-nav.open {
    display: flex; /* Display when open */
    
  }

  .App-link {
    margin-right: 0;
    padding: 10px 0;
    text-align: center;
  }

  .App-footer {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}