.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #00ADB5; 
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-logo-link {
  text-decoration: none;
  color: white;
}

.App-logo {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 10px;
}

.App-nav {
  display: flex;
}

.App-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.App-link:hover {
  text-decoration: underline;
}

.App-main {
  flex: 1;
}


.App-footer {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: auto; 
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-footer-logos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.App-footer-logo {
  width: 50px;
  height: auto;
  margin: 0 10px;
}

.App-footer-text {
  margin-bottom: 0px;
}

.App-footer-copyright {
  font-size: 12px;
  color: #555;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .App-link {
    margin: 10px 0;
  }
}
